@(message: String)

@main("Qflow") {
    
  

   <div class='page'>
   </div>

    
}


<script type="text/template" id="task-list-template">


<div class="navbar ">
	  <div class="navbar-inner">
	    <a class="brand" href="#">Tasks in My Group</a>
	    <div class="nav pull-right">
	      <a href="#/new" class="btn btn-primary">Create Task</a>
	      <a href="#" class="btn">Create Section</a>
	     
	    </div>
	  </div>
</div>


	
	<table class="table striped">

		<thead>
			<tr>
				<td>ID</td>
				<td>Task</td>
				<td>Due Date</td>
				<td>Comments</td>
			</tr>

		</thead>
		<tbody>
		<% _.each(tasks, function(task){ %>

			<tr>
				<td> <%= task.get('id') %> </td>
				<td> <%= task.get('task') %> </td>
				<td> <%= task.get('due') %> </td>
				<td> <%= task.get('details') %> </td>
			</tr>
		<% }); %>
		</tbody>
	</table>

</script>



<script type="text/template" id="task-edit-template">

NEw Page

</script>


<script type="text/javascript">

$.ajaxPrefilter(function (options, originalOptions,jqXHR){
	//options.url = 'http://localhost:9000' + options.url;
});


var Tasks = Backbone.Collection.extend({
	url: '/tasks'
});

var TaskListView = Backbone.View.extend({
  el: '.page',
  render: function(){
  	var pp = this;
  	console.log('1');
  	var tasks = new Tasks();
  	tasks.fetch({
  		success: function(tasks) {
  			var template = _.template($('#task-list-template').html(),{tasks: tasks.models});
  			console.log('2');
  			pp.$el.html(template);
  		}
  	});
  	
  }
});

var TaskEditView = Backbone.View.extend({
 el: '.page',
 render:function(){
 	var pp=this;
 	var template = _.template($('#task-edit-template').html(),{});
 	this.$el.html(template);
 }
});

var Router = Backbone.Router.extend({
	routes: {
		'': 'home',
		'new':'editTask'
	}
});


var taskListView = new TaskListView();
var taskEditView = new TaskEditView();

var router = new Router();
router.on('route:home',function (){
	console.log('We have loaded the home page');
	taskListView.render();
});

router.on('route:editTask',function (){
	console.log('We have loaded the new/edit page');
	taskEditView.render();
});

Backbone.history.start();

</script>

